<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="{{ js_location }}">
        </script>
    </head>
    <body>
        <div id="elm"></div>
    <script>
        var app = Elm.Main.init({
            node: document.getElementById('elm'),
            flags: "{{ backend_app }}graphql"
        })
    </script>
</html>
